<div class="container">
    <h1>Build Your Own Plate</h1><br>
    
    <div class="row">
        <div class="col-10">
            <h2>Foods</h2>
        </div>
        <div class="col-2 text-end">
            {{#if authenticated}}
                <button id="savePlateButton" type="button" class="btn btn-success">Save Plate to Profile</button>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="foodDiv" class="form-group"></div>
            <div id="invalidInputsError"></div><br>
            <div class="d-grid gap-2">
                <button id="addFoodButton" class="btn btn-outline-primary" type="button">Add Food</button>
            </div>
        </div>
        <div class="col">
            <table class="table table-bordered caption-top">
                <caption>Nutrition Facts</caption>
                <tbody>
                    <tr>
                        <th scope="row">Total Calories</th>
                        <td id="totalCalories"></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Fat</th>
                        <td id="totalFat"></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Carbohydrates</th>
                        <td id="totalCarbs"></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Protein</th>
                        <td id="totalProtein"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="savePlateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="savePlateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="savePlateLabel">Save Plate to Profile</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="build_userId" name="userId" value="{{user._id}}">
                <label for="title" class="visually-hidden">Title</label>
                <input id="title" class="form-control" type="text" name="title" placeholder="Give your plate a title..." required>
                <div id="blankTitleError"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="submitPlateButton" type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<template id="foodDropdownTemplate">
    <option selected disabled hidden>Select a food</option>
    {{#each foodList}}
        <option value="{{_id}}">{{name}} ({{servingSizeNumber}} {{servingSizeUnit}})</option>
    {{/each}}
</template>