<div class="container">
    <h1>Edit Saved Plate</h1><br>
    
    <div class="row">
        <div class="col-6">
            <h2><label for="edit_title" class="form-label">Title</label></h2>
            <input id="edit_title" class="form-control" type="text" name="edit_title" value="{{savedPlate.title}}" placeholder="Title" required>
            <input type="hidden" id="edit_savedPlateId" name="savedPlateId" value="{{savedPlate._id}}">
        </div>
        <div class="col-6 text-end">
            <button id="edit_savePlateButton" type="button" class="btn btn-success">Save Changes</button>
            <a href="/savedPlates/{{savedPlate._id}}" class="btn btn-secondary">Cancel</a>
        </div>
    </div><br>

    <div class="row">
        <div class="col">
            <h2>Foods</h2>
            <div id="edit_foodDiv" class="form-group"></div>
            <div id="edit_invalidInputsError" class="error"></div><br>
            <div class="d-grid gap-2">
                <button id="edit_addFoodButton" class="btn btn-outline-primary" type="button">Add Food</button>
            </div>
        </div>
        <div class="col">
            <table class="table table-bordered caption-top">
                <caption>Nutrition Facts</caption>
                <tbody>
                    <tr>
                        <th scope="row">Total Calories</th>
                        <td id="edit_totalCalories"></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Fat</th>
                        <td id="edit_totalFat"></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Carbohydrates</th>
                        <td id="edit_totalCarbs"></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Protein</th>
                        <td id="edit_totalProtein"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<template id="edit_foodDropdownTemplate">
    <option selected disabled hidden>Select a food</option>
    {{#each foodList}}
        <option value="{{_id}}">{{name}} ({{servingSizeNumber}} {{servingSizeUnit}})</option>
    {{/each}}
</template>