<img src="../public/images/pierce.jpg" class="img-fluid" alt="Pierce Dining Hall">

<nav class="nav justify-content-end">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/foods">Food List</a>
    <a class="nav-link" href="/users">User</a>
</nav>

<h1>{{food.name}}</h1>

<main>
    <img src="../public/images/food.png" class="img-thumbnail" alt="{{food.name}}"><br><br>

    <table class="table table-bordered caption-top">
        <caption>Nutrition Facts</caption>
        <tbody>
            <tr>
                <th scope="row">Serving Size</th>
                <td>{{food.servingSizeNumber}} {{food.servingSizeUnit}}</td>
            </tr>
            <tr>
                <th scope="row">Calories</th>
                <td>{{food.calories}}</td>
            </tr>
            <tr>
                <th scope="row">Fat</th>
                <td>{{food.fat}}</td>
            </tr>
            <tr>
                <th scope="row">Carbohydrates</th>
                <td>{{food.carbs}}</td>
            </tr>
            <tr>
                <th scope="row">Protein</th>
                <td>{{food.protein}}</td>
            </tr>
        </tbody>
    </table><br>

    <h3>Comments</h3>
    {{#if commentList}}
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4">
            {{#each commentList}}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <blockquote class="blockquote">
                                <p>{{this.text}}</p>
                                <footer class="blockquote-footer"><a href="/users/{{this.userId}}">{{this.userName}}</a></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>There are currently no comments for this food.</p>
    {{/if}}
</main>