<div class="container">
    <main>
        {{#if user.firstName}}
            {{#if user.lastName}}
                <h1>{{user.firstName}} {{user.lastName}}</h1>
            {{else}}
                <h1>{{user.firstName}}</h1>
            {{/if}}
        {{else}}
            {{#if user.lastName}}
                <h1>{{user.lastName}}</h1>
            {{/if}}
        {{/if}}

        {{#if user.username}}
            <p>@{{user.username}}</p>
        {{/if}}<br>

        <h3>Saved Plates</h3>
        {{#if authenticated}}
        {{#if savedPlateList}}
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                {{#each savedPlateList}}
                    <div class="col">
                        <div class="card h-100 mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <div class="card-body">
                                            <h5 class="card-title"><a href="/savedPlates/savedPlates/{{_id}}">{{title}}</a></h5>
                                        <ul>
                                            {{#if foods}}
                                                {{#each foods}}
                                                    <li><a href="/foods/foods/{{_id}}">{{name}}</a>, {{servings}}</li>
                                                {{/each}}
                                            {{/if}}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <table class="table table-bordered caption-top">
                                        <caption>Nutrition Facts</caption>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Total Calories</th>
                                                <td>{{totalCalories}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Fat</th>
                                                <td>{{totalFat}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Carbohydrates</th>
                                                <td>{{totalCarbs}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Protein</th>
                                                <td>{{totalProtein}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>There are currently no saved plates for this user.</p>
        {{/if}}
        {{else}}
        {{#if savedPlateList}}
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                {{#each savedPlateList}}
                    <div class="col">
                        <div class="card h-100 mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <div class="card-body">
                                            <h5 class="card-title"><a href="/savedPlates/{{_id}}">{{title}}</a></h5>
                                        <ul>
                                            {{#if foods}}
                                                {{#each foods}}
                                                    <li><a href="/foods/{{_id}}">{{name}}</a>, {{servings}}</li>
                                                {{/each}}
                                            {{/if}}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <table class="table table-bordered caption-top">
                                        <caption>Nutrition Facts</caption>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Total Calories</th>
                                                <td>{{totalCalories}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Fat</th>
                                                <td>{{totalFat}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Carbohydrates</th>
                                                <td>{{totalCarbs}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Protein</th>
                                                <td>{{totalProtein}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>There are currently no saved plates for this user.</p>
        {{/if}}
        {{/if}}
    </main>
</div>